<?xml version='1.0' encoding='UTF-8'?>
<slave>
  <name>ubuntu1404</name>
  <description></description>
  <remoteFS>/var/lib/jenkins</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.9">
    <host>couchdb-ubuntu-14.04-worker</host>
    <port>22</port>
    <credentialsId>f5ea452c-8774-4f21-9e81-f833212a81c2</credentialsId>
    <maxNumRetries>0</maxNumRetries>
    <retryWaitTime>0</retryWaitTime>
  </launcher>
  <label>ubuntu1404 erlang-latest</label>
  <nodeProperties/>
  <userId>anonymous</userId>
</slave>